<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @messages.each do |message| %>
        <div class="message">
          <h2 class="message-title"><%= message.title %></h2>
          <div class="meta">by: <%= message.user.email %></div>
          <%= link_to "Join", message, class: 'btn btn-info' %>
        </div>

    <% end %>
  </div>
</div>